<% provide(:title) do %>
  <%= t("admin.header.title") %> - <%= t("admin.proposals.index.title") %>
<% end %>

<h2><%= t("admin.proposals.index.title") %></h2>

<% if @proposals.any? %>
  <%= render Admin::SearchComponent.new(label: t("admin.shared.search.label.proposals")) %>

  <h3>
    <%= link_to 'Kezdeményezések szavazásra bocsájtása',
                publish_accepted_proposals_admin_proposals_path(proposal_ids: @proposals.map(&:id)),
                class: 'button hollow medium' %>
  </h3>
  <%= link_to t("admin.budget_investments.index.download_current_selection"),
              download_csv_admin_proposals_path(csv_params),
              class: "float-right small clear" %>
  <%= link_to 'Rendezés növekvő sorrendbe(Támogatás alapján)', admin_proposals_path(sort_by: 'asc', page: params[:page]), class: "float-left small clear"%> <br>
  <%= link_to 'Rendezés csökkenő sorrendbe(Támogatás alapján)', admin_proposals_path(sort_by: 'desc', page: params[:page]), class: "float-left small clear"%>

  <table>
    <thead>
      <tr>
        <th class="text-center"><%= t("admin.proposals.index.id") %></th>
        <th><%= Proposal.human_attribute_name(:title) %></th>
        <th><%= t("admin.proposals.index.author") %></th>
        <th> <%= Proposal.votes_needed_for_success %> (Szükséges szavazat)</th>
        <th><%= t("admin.proposals.index.status") %></th>
        <th> Állapot </th>
      </tr>
    </thead>

    <tbody>
      <% @proposals.each do |proposal| %>
        <tr id="<%= dom_id(proposal) %>" class="proposal">
          <td class="text-center"><%= proposal.id %></td>
          <td><%= link_to proposal.title, admin_proposal_path(proposal) %></td>
          <td><%= proposal.author.username %></td>
          <td ><%= proposal.total_votes %></td>
          <% if proposal.reviewed_true? %>
            <td style="color: green;"> <%= t('admin.proposals.index.verificat') %> </td>
          <% elsif proposal.reviewed_false?%>
            <td style="color: red;"> <%= t('admin.proposals.index.verificat_false') %> </td>
          <% else %>
            <td style="color: red;">Elutasítva</td>
          <% end %>
          <% if proposal.published? %>
            <td style="color: green;"> Közzétéve</td>
          <% else %>
            <td style="color: red;"> Várólistán </td>
          <% end %>
        </tr> 
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="callout primary">
    <%= t("admin.proposals.index.no_proposals") %>
  </div>
<% end %>
